.pre-line {
    white-space: pre-line;
}

.judul-kajian {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    overflow: hidden;
    line-height: 1.5;

    font-weight: 600;
}

.deskripsi {
    max-width: 650px;
    padding-right: 2rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    overflow: hidden;
    line-height: 1.5;
}

.col-deskripsi {
    width: 45%;
}

.col-tahun {
    width: 5%;
}

.col-judul {
    width: 25%;
}

.col-aksi {
    width: 170px;
    text-align: center;
}

.col-aksi .btn {
    min-width: 55px;
}

.kajian-row {
    cursor: pointer;
    transition: background-color .15s ease;
}

.kajian-row:hover {
    background-color: #f8f9fa;
}

.kajian-row:hover .judul-kajian {
    color: var(--bs-primary);
    font-weight: 500;
}

.tooltip {
    --bs-tooltip-bg: #f8f1e4;
    --bs-tooltip-color: #3f3125;
    --bs-tooltip-max-width: 350px;
}

.tooltip-inner {
    border: 1px solid #d8c7aa;
}
